<div class="header">
    <div ng-if="!view.loading" class="container">

        <div class="row">
            <div class="col-md-2">
                <a ng-href="#/" class="logo">Rabix</a>
            </div>

            <div ng-if="(view.user | isEmpty)" class="col-md-4 col-md-offset-6">
                <button class="btn btn-primary btn-block" ng-disabled="view.loggingIn" ng-click="logIn()">Log In With GitHub</button>
            </div>

            <div ng-if="!(view.user | isEmpty)" class="col-md-10">
                <div class="btn-group pull-right" dropdown is-open="view.showOptions">

                    <div class="dropdown-toggle">
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>

                    <ul class="dropdown-menu" role="menu" ng-class="{loading: view.processing}">
                        <li><a href ng-click="generateToken()">(Re)generate token</a></li>
                        <li><a href ng-click="revokeToken">Revoke token</a></li>
                        <li class="divider"></li>
                        <li><a href ng-click="logOut()">Log Out</a></li>
                    </ul>
                </div>
                <span class="welcome pull-right">Welcome {{ view.user.username }}!</span>

            </div>

        </div>

    </div>
</div>