<div class="header">
    <div ng-if="!view.loading" class="container">

        <div class="row">
            <div class="col-md-2">
                <a ng-href="#/" class="logo">Rabix</a>
            </div>

            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav nav-tabs">
                            <li ng-class="{active: view.active === 'apps'}"><a ng-href="#/">Apps</a></li>
                            <li ng-class="{active: view.active === 'builds'}"><a ng-href="#/builds">Builds</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <a ng-if="(view.user | isEmpty)" href="/login" class="btn btn-primary btn-block">Log In With GitHub</a>

                        <div ng-if="!(view.user | isEmpty)" class="actions pull-right">
                            <span class="welcome">Welcome {{ view.user.name }}!</span>
                            <a href ng-click="showOptions()" class="options"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href ng-click="logOut()" class="btn btn-primary">Log Out</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>