$icon-font-path: "../fonts/";
$gray: #f3f3f3;
$orange: #f0ad4e;
$green: #5cb85c;
$red: #d9534f;
$blue: #428bca;

@import "bootstrap";
@import "mixins";

html, body {
  height: 100%;
}
body {
  color: #555;
  background-color: $gray;
}

.main {
  height: 100%;
  .content {
    height: 90%;

    @media screen and (max-height: 800) {
      height: 90%;
    }

    .page {
      height: 100%;
      & > .container {
        height: 90%;
        overflow: auto;
        @include scrollBar($orange);
      }
    }
  }
}

/* HEADER
================================================ */
.header {
  $header: 52px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 0 0;
  min-height: $header;
  background-color: #fff;
  
  .logo {
    font-size: 30px;
    display: block;
    color: #555;
    text-decoration: none;
  }
  
  .welcome {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 40px;
  }

  .nav-tabs {
    border-bottom: none;
    margin-top: 1px;
  }

  .options {
    color: #555;
    display: inline-block;
    vertical-align: middle;
    .glyphicon {
      font-size: 25px;
      padding: 8px 10px;
      cursor: pointer;
    }
  }
  
  .log-out-btn {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    &:hover {
      color: #666;
    }
  }

}

/* PAGE
================================================ */
.page {
  position: relative;
  background-color: #fff;

  /* Build page */
  &.build {
    .heading {
      margin: 0;
    }
  }

  /* Repos page */
  &.repos {
    .table {
      th {
        &.field-id {
          width: 20%;
        }
      }
    }
  }

  /* Settings page */
  &.settings {
    .actions {
      margin: 30px 0;
      .col-md-4 {
        text-align: center;
        padding: 40px 20px 0 20px;
        height: 170px;
        &:first-child {
          border-right: 1px solid #ddd;
        }
        .alert {
          padding: 5px;
          margin-top: 20px;
        }
      }
      .alert {
        margin: 30px 0 0 0;
        text-align: center;
      }
    }
    .token-info {
      text-align: center;
      font-size: 16px;
    }
  }

  &.home {
    .log-in-btn {
      width: 300px;
      margin: 20px auto;
      display: block;
    }
    .subscribe {
      text-align: center;
      .alert {
        width: 400px;
        margin: 5px auto;
        padding: 5px;
      }
      .input-group {
        width: 400px;
        margin: 0 auto;
      }
    }
  }

  h1 {
    margin: 0;
    padding: 15px 0 15px 90px;
    font-size: 26px;

    &.main-title {
      padding: 15px 0;
      text-align: center;
      font-size: 28px;
      width: 610px;
      margin: 0 auto;
      border-left: 5px solid $orange;
      border-right: 5px solid $orange;
      font-weight: normal;
    }

    .label {
      font-size: 18px;
      padding: 6px 20px 8px 7px;
      font-weight: normal;
      @include border-radius(16px 4px 4px 16px);
    }
    span:first-child {
      max-width: 75%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    span, span > i {
      display: inline-block;
      vertical-align: middle;
      i {
        &.running {
          @include animation(rotate 1.2s infinite linear);
        }
      }
      span {
        margin-left: 5px;
      }
    }
  }
  
  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px 0;
  }

  .table {
    margin: 0;
    td {
      p {
        margin: 0;
        &:not(.alert) {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          float: left;
        }
        &.alert {
          padding: 15px;
        }
      }
      a {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        white-space: nowrap;
      }
    }
    .status {
      width: 20px;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      padding: 0;
      @include border-radius(7.5px);

      &.success {
        color: $green;
      }
      &.running {
        color: $blue;
        @include animation(rotate 1.2s infinite linear);
      }
      &.failure {
        color: $red;
      }
      &.pending {
        color: $orange;
      }
    }
    &.apps {
      th {
        &:nth-child(1),
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 60%;
        }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
      }
    }
    &.builds {
      th {
        &.field-status,
        &.field-id {
          width: 5%;
        }
        &.field-message {
          width: 30%;
        }
        &.field-commit,
        &.field-committer,
        &.field-repo,
        &.field-date {
          width: 15%;
        }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
        &.field-commit {
          a {
            width: 100px;
          }
        }
        &.field-id {
          a {
            width: 50px;
          }
        }
      }
    }
  }

  .heading,
  .filters {
    background-color: $gray;
    border-bottom: 1px solid #ddd;
  }

  .heading {
    margin: 0 0 20px 0;
    .go-back {
      margin: 12px 0;
    }
  }

  .filters {
    height: 55px;
    padding: 10px 0;

    .label {
      font-size: 15px;
      display: inline-block;
      line-height: 22px;
      .close {
        color: #fff;
        font-weight: normal;
        text-shadow: none;
        float: none;
        @include opacity(1);
      }
    }
    .tags {
      padding: 2px 0;
    }
  }

  .paginate {
    padding: 10px 0;
    overflow: auto;
    background-color: $gray;
    border-top: 1px solid #ddd;
    text-align: center;
    .page-number {
      display: inline-block;
      font-weight: bold;
      padding: 7px;
    }
  }

  .description {
    margin: 20px 0;
    overflow: auto;
    .panel {
      float: right;
      margin: 0 0 5px 5px;
      p {
        white-space: nowrap;
        strong {
          width: 110px;
          display: inline-block;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .panel-body {
        h5 {
          margin: -15px -15px 5px;
          padding: 10px 15px;
          background-color: lighten(#fcf8e3, 5%);
          border-top: 1px solid #faebcc;
          border-bottom: 1px solid #faebcc;
        }
        section {
          margin: 0 0 20px 0;
          &:first-child {
            h5 {
              border-top: none;
            }
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  .snippet {
    border-left: 5px solid $orange;
    margin-bottom: 25px;
    p {
      padding: 0 0 0 5px;
      margin: 0 0 5px;
    }
    pre {
      @include border-radius(0 3px 3px 0);
      border-left: none;
      margin-bottom: 1px;
    }

    &.log {
      pre {
        border-color: $orange;
        background-color: #222;
        padding: 0 10px;
        counter-reset: counter;
        @include scrollBar($orange);
        .line {
          color: $orange;
          white-space: nowrap;
          &:before {
            content: counter(counter);
            counter-increment: counter;
            display: inline-block;
            width: 55px;
            text-align: right;
            padding: 0 5px 0 0;
            margin: 0 5px 0 0;
            color: #666;
          }
        }
      }
    }

    &.list {
      ul {
        list-style: none;
        border: 1px solid #ddd;
        border-left-color: transparent;
        @include border-radius(0 3px 3px 0);
        padding: 10px 10px 10px 20px;
        margin: 0;
      }
    }
  }

  .nav-tabs.reverse {
    margin-top: 0;
    border-bottom: none;
    li {
      &.active {
        a, a:hover, a:focus {
          color: #555;
          border-bottom-color: #ddd;
          border-top-color: $gray;
          @include border-radius(0 0 4px 4px);
        }
      }
      a {
        padding: 5px 15px;
        &:hover {
          @include border-radius(0 0 4px 4px);
          border-bottom-color: transparent;
          border-top-color: $gray;
        }
      }
    }
  }

  section {
    margin: 0 0 30px 0;
    position: relative;
    table {
      &.apps {
        th {
          &:nth-child(1) {
            width: 30% !important;
          }
          &:nth-child(2) {
            width: 70% !important;
          }
        }
      }
      thead {
        tr {
          background-color: $gray;
          border: {
            left: 1px solid #ddd;
            right: 1px solid #ddd;
          }
        }
      }
    }
    &.loading {
      @extend .loading-abs;
    }
  }

  &.loading {
    @extend .loading-abs;
    &:after {
      opacity: 0;
      @include transition(opacity 0.3s ease);
    }
    &.loading-fade {
      &:after {
        opacity: 1;
      }
    }
  }

}

/* LOADER
================================================ */
.loading {
  &:after {
    content: '';
    display: block;
    background-image: inline-image('loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
  }
}

.loading-abs {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* MODAL OPTIONS
================================================ */
.modal-options {
  .col-md-6 {
    text-align: center;
    &:first-child {
      border-right: 1px solid #ddd;
    }
  }
  .alert {
    margin: 30px 0 0 0;
    text-align: center;
  }
}

/* GENERAL ERROR
================================================ */
.general-error {
  $width: 400px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: -($width/2);
  @include border-radius(0 0 4px 4px);
  @include box-shadow(0 0 7px 0px #aaa);

  display: none;
  &.show {
    display: block;
  }

  p {
    text-align: center;
    padding: 0px 7px;
    margin: 0 0 10px 0;
  }

  .close {
    position: absolute;
    top: 0px;
    right: 6px;
  }
}

.nav-tabs {
  li {
    &.active {
      a, a:focus, a:hover {
        color: #555;
        background-color: $gray;
        border-bottom-color: $gray;
        cursor: pointer;
      }
    }
  }
}

form {
  .form-control {
    color: #555;
  }
}

@mixin rotate-rule($prefix: '') {
  0% {
    #{$prefix}transform: rotate(0deg);
  }
  100% {
    #{$prefix}transform: rotate(359deg);
  }
}

@keyframes rotate {
  @include rotate-rule();
}
@-webkit-keyframes rotate {
  @include rotate-rule(-webkit-);
}
@-moz-keyframes rotate {
  @include rotate-rule(-moz-);
}
@-o-keyframes anim-rotate {
  @include rotate-rule(-o-);
}
@-ms-keyframes rotate {
  @include rotate-rule(-ms-);
}
