@import "variables";
@import "bootstrap";
@import "mixins";

html, body {
  height: 100%;
}

body {
  color: #555;
  background-color: $gray;
  background-image: url(../images/bg.png);
  font-family: 'Open Sans', sans-serif;
}

.main {
  height: 100%;
  .content {
    height: 90%;

    @media screen and (max-height: 800) {
      height: 90%;
    }

    .page {
      height: 100%;
      & > .container {
        height: 90%;
        overflow: auto;
        margin-top: 2px;
        @include scrollBar($orange);
      }
    }
  }
}

@import "header";
@import "loader";
@import "error";
@import "elements";
@import "overrides";

/* PAGE
================================================ */
.page {
  position: relative;
  background-color: #fff;

  h1 {
    margin: 0;
    padding: 13px 0 13px 90px;
    font-size: 26px;
    font-weight: normal;

    &.main-title {
      padding-left: 0;
    }

    .label {
      font-size: 18px;
      padding: 6px 20px 8px 7px;
      font-weight: normal;
      @include border-radius(16px 4px 4px 16px);
    }

    span {
      &:first-child {
        max-width: 75%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    span,
    span > i {
      display: inline-block;
      vertical-align: middle;
      i {
        &.running {
          @include animation(rotate 1.2s infinite linear);
        }
      }
      span {
        margin-left: 5px;
      }
    }
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px 0;
  }

  /* Build page */
  &.build {
    .heading {
      margin: 0;
    }
  }

  /* Repos page */
  &.repos {
    .add-github {
      background-image: url(../images/icon-github.png);
      background-repeat: no-repeat;
      background-position: center left 6px;
      padding-left: 30px;
    }
  }

  /* Repo page */
  &.repo {
    .created-by {
      font-size: 15px;
    }
  }

  /* Add Your GitHub Repo */
  &.add-your-github-repo {
    .icon-added {
      color: $green;
      float: right;
      padding: 7px 12px;
    }
    .heading {
      margin: 0;
    }
  }

  /* Settings page */
  &.settings {
    .actions {
      margin: 30px 0;
      .col-md-4 {
        margin-bottom: 30px;
        .alert {
          padding: 5px 10px;
          margin-top: 10px;
          white-space: nowrap;
        }
      }
    }
    .token-info {
      text-align: center;
      font-size: 16px;
    }
  }

  /* Home page */
  &.home {
    & > .container {
      height: auto !important;
    }
    .log-in-btn {
      width: 300px;
      margin: 20px auto;
      display: block;
    }
    .subscribe {
      text-align: center;
      .alert {
        width: 400px;
        margin: 5px auto;
        padding: 5px;
      }
      .input-group {
        width: 400px;
        margin: 0 auto;
      }
    }
  }

  .table {
    margin: 0;
    td {
      p {
        margin: 0;
        &:not(.alert) {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          float: left;
        }
        &.alert {
          padding: 15px;
        }
      }
      a {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        white-space: nowrap;
      }
    }
    .status {
      width: 20px;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      padding: 0;
      @include border-radius(7.5px);

      &.success {
        color: $green;
      }
      &.running {
        color: $blue;
        @include animation(rotate 1.2s infinite linear);
      }
      &.failure {
        color: $red;
      }
      &.pending {
        color: $orange;
      }
    }
    /* Apps table */
    &.apps {
      th {
        &:nth-child(1),
        &:nth-child(2) { width: 20%; }
        &:nth-child(3) { width: 60%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
      }
    }
    /* Builds table */
    &.builds {
      th {
        &.field-status,
        &.field-id { width: 5%; }
        &.field-message { width: 30%; }
        &.field-commit,
        &.field-committer,
        &.field-repo,
        &.field-date { width: 15%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
        &.field-commit {
          a {
            width: 100px;
          }
        }
        &.field-id {
          a {
            width: 50px;
          }
        }
      }
    }
    /* Repos table */
    &.repos {
      th {
        &.field-id,
        &.field-repo-id { width: 20%; }
        &.field-action {
          text-align: right;
        }
      }
      td {
        &.field-repo-id {
          a {
            padding: 7px 0;
          }
        }
        &.field-action {
          .btn {
            float: right;
          }
        }
      }
    }
  }
}


@mixin rotate-rule($prefix: '') {
  0% {
    #{$prefix}transform: rotate(0deg);
  }
  100% {
    #{$prefix}transform: rotate(359deg);
  }
}

@keyframes rotate {
  @include rotate-rule();
}
@-webkit-keyframes rotate {
  @include rotate-rule(-webkit-);
}
@-moz-keyframes rotate {
  @include rotate-rule(-moz-);
}
@-o-keyframes anim-rotate {
  @include rotate-rule(-o-);
}
@-ms-keyframes rotate {
  @include rotate-rule(-ms-);
}
