<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>App registry</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
</head>
<body ng-app="RabixRegistry" ng-controller="mainCtrl">
<div ng-show="user">
    <span>Greetings, {{user.name}}.</span>
    <button ng-click="logout()">Logout</button>
    <button ng-click="tokenCreate()">(re)generate token</button>
    <button ng-click="tokenRevoke()">revoke token</button>
</div>
<div ng-hide="user">
    <a href="/login">Login with GitHub</a>
</div>
<hr/>
<ng-view></ng-view>
</body>

<script type="text/ng-template" id="app.tpl">
    <div>
        <a href="#/apps">Back to apps</a>
        <h1>{{app.name}}</h1>
        <p>{{app.description}}</p>
        <pre>{{refCopy}}</pre>
    </div>
</script>

<script type="text/ng-template" id="apps.tpl">
    <div>
        <input type="text" placeholder="Search apps" ng-model="searchTerms"/>
        <button value="Search" ng-click="search()">Search</button>
        <table>
            <tr ng-repeat="app in apps">
                <td><a href="#/apps/{{app.id}}">{{app.name}}</a></td>
                <td><a href="#/repo/{{app.repo}}">{{app.repo}}</a></td>
                <td>{{app.description}}</td>
            </tr>
        </table>
    </div>
</script>

<script type="text/ng-template" id="repo.tpl">
    <div>
        <h1>{{username}}/{{repoName}}</h1>
        <table>
            <tr ng-repeat="app in apps">
                <td><a href="#/apps/{{app.id}}">{{app.name}}</a></td>
                <td><a href="#/repo/{{app.repo}}">{{app.repo}}</a></td>
                <td>{{app.description}}</td>
            </tr>
        </table>
    </div>
</script>


<script>
rabix = angular.module('RabixRegistry', ['ngRoute']);

rabix.controller('mainCtrl', function($scope, $http, $location) {
    $http.get('/user').success(function(data){
        console.log(data);
        $scope.user=data.login?data:null;
    });
    $scope.logout = function() {
        $http.post('/logout').success(function () {
            $scope.user = null;
            $location.path('/');
        });
    };
    $scope.tokenCreate = function() {
        $http.post('/token').success(function(data){
            alert(data.token);
        });
    };
    $scope.tokenRevoke = function() {
        $http.delete('/token').success(function(){
            alert('Token revoked.');
        });
    };
});
rabix.controller('appsCtrl', function($scope, $http) {
    $scope.getApps = function() {
        $http.get('/apps').success(function(data) {
            $scope.apps = data.items;
        })
    };
    $scope.search = function() {
        $http({
            method: 'GET',
            url: '/search',
            params: {terms: $scope.searchTerms}
        }).success(function(data) {
            $scope.apps = data.items;
        })
    };
    $scope.getApps();
});

rabix.controller('repoCtrl', function($scope, $http, $routeParams) {
    $scope.getApps = function() {
        $http({
            method: 'GET',
            url: '/apps',
            params: {repo: $routeParams.username+'/'+$routeParams.repoName}
        }).success(function(data) {
            $scope.apps = data.items;
        })
    };
    $scope.username = $routeParams.username;
    $scope.repoName = $routeParams.repoName;
    $scope.getApps();
});

rabix.controller('appCtrl', function($scope, $http, $routeParams) {
    $scope.getApp = function() {
        $http.get('/apps/'+$routeParams.id).success(function(data) {
            $scope.app = data;
            $scope.refCopy = '{\n  "$ref": "' + data.links.app_ref + '",\n  "checksum": "'+data.app_checksum+'"\n}';
        })
    };

    $scope.getApp();
});

rabix.config(function($routeProvider) {
    $routeProvider.when("/apps", {
        templateUrl: "apps.tpl",
        controller: "appsCtrl"
    }).when("/apps/:id", {
        templateUrl: "app.tpl",
        controller: "appCtrl"
    }).when("/repo/:username/:repoName", {
        templateUrl: "repo.tpl",
        controller: "repoCtrl"
    }).otherwise({redirectTo: '/apps'});
});


</script>
</html>