<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>App registry</title>
</head>
<body ng-app="RabixRegistry" ng-controller="mainCtrl">
<input type="text" placeholder="Search apps" ng-model="searchTerms"/>
<button value="Search" ng-click="search()">Search</button>
<table>
    <tr ng-repeat="app in apps">
        <td>{{app.name}}</td>
        <td>{{app.repo}}</td>
        <td>{{app.description}}</td>
    </tr>
</table>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script>
rabix = angular.module('RabixRegistry', []);

rabix.controller('mainCtrl', function($scope, $http) {
    $scope.getApps = function() {
        $http.get('/apps').success(function(data) {
            $scope.apps = data.items;
        })
    };
    $scope.search = function() {
        $http({
            method: 'GET',
            url: '/search',
            params: {terms: $scope.searchTerms}
        }).success(function(data) {
            $scope.apps = data.items;
        })
    };
    $scope.getApps();
});

//rabix.config(['$routeProvider', function($routeProvider) {
//    $routeProvider.when("/apps", {
//            templateUrl: "partials/apps.html",
//            controller: "appCtrl"
//    }).when("/apps/:id", {
//        templateUrl: "partials/app.html",
//        controller: "appCtrl"
//    }).otherwise({redirectTo: '/apps'});
//}]);


</script>
</html>