<div class="page app" ng-class="{loading: view.loading}">

    <div class="heading">
        <div class="container">
            <button class="btn btn-default pull-left go-back" ng-click="goBack()"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
            <h1>{{ view.app.name }}</h1>
        </div>
    </div>

    <div ng-if="!view.loading" class="container">

        <div class="description">
            <div class="panel panel-warning">
                <div class="panel-heading"><h4 class="panel-title">Docker Image Details</h4></div>
                <div class="panel-body">
                    <p><strong>Image Repo:</strong> {{ view.app.app.docker_image_ref.image_repo }}</p>
                    <p><strong>Image Tag:</strong> {{ view.app.app.docker_image_ref.image_tag }}</p>
                </div>
            </div>
            {{ view.app.description }}
        </div>


        <div class="snippet">
            <p>Use this code snippet for your pipeline</p>
            <pre pretty-json="{$ref: view.app.links.app_ref, checksum: view.app.app_checksum}"></pre>
        </div>

        <div class="snippet">
            <p>Use this command to run the pipeline</p>
            <pre>$ rabix run {{ view.app.links.app_ref }}</pre>
        </div>

    </div>
</div>