<div class="page builds" ng-class="{loading: view.loading}">

    <div class="filters">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8 tags">
                    <span ng-if="view.repo" class="label label-primary">{{ view.repo }} <a ng-href="#/" class="close">&times;</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div class="container" ng-if="!view.loading">
        <table class="table">
            <thead>
                <tr>
                    <th class="field-status"></th>
                    <th class="field-id">Build</th>
                    <th class="field-message">Message</th>
                    <th class="field-commit">Commit</th>
                    <th class="field-committer">Committer</th>
                    <th class="field-duration">Duration</th>
                    <th class="field-finished">Finished</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="build in view.builds">
                    <td>
                        <span class="status glyphicon {{ build.status }}"
                              tooltip="{{ build.status }}"
                              ng-class="{'glyphicon-ok-circle': build.status === 'success', 'glyphicon-time': build.status === 'running', 'glyphicon-remove-circle': build.status === 'failed'}">
                        </span>
                    </td>
                    <td><a ng-href="#/builds/{{ build.id }}">#{{ build.id }}</a></td>
                    <td><p tooltip="{{ build.message }}" tooltip-popup-delay="1000">{{ build.message }}</p></td>
                    <td><a ng-href="#">{{ build.commit }} ({{ build.branch }})</a></td>
                    <td>{{ build.committer }}</td>
                    <td>{{ build.duration }}</td>
                    <td>{{ build.finished }}</td>
                </tr>
                <tr ng-if="view.builds.length === 0">
                    <td colspan="7"><p class="alert alert-info">There are no builds</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .container -->

    <div class="paginate" ng-if="!view.loading && view.builds.length !== 0">
        <div class="container">
            <button ng-disabled="!view.paginator.prev" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="page-number">{{ view.page }} / {{ view.total }}</span>
            <button ng-disabled="!view.paginator.next" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <!-- # .paginate -->

</div>