<div class="page build" ng-class="{loading: view.loading}">

    <div class="heading navigation">
        <div class="container">
            <button class="btn btn-default pull-left go-back" ng-click="goBack()"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
            <h1>
                <span>Build #{{ view.build.id }}</span>
                <ul class="nav nav-pills">
                    <li ng-class="{active: view.tab === 'details'}"><a ng-href="#/builds/{{ view.build.id }}">Details</a></li>
                    <li ng-class="{active: view.tab === 'log'}"><a ng-href="#/builds/{{ view.build.id }}/log">Log</a></li>
                </ul>
                <span class="label pull-right" ng-class="{'label-success': view.build.status === 'success', 'label-warning': view.build.status === 'running', 'label-danger': view.build.status === 'failed'}">
                    <i class="glyphicon" ng-class="{'glyphicon-ok-circle': view.build.status === 'success', 'glyphicon-time': view.build.status === 'running', 'glyphicon-remove-circle': view.build.status === 'failed'}"></i>
                    <span>{{ view.build.status }}</span>
                </span>
            </h1>
        </div>
    </div>

    <div ng-if="!view.loading" class="container" height>

        <div class="description">
            <div class="panel panel-warning">
                <div class="panel-heading"><h4 class="panel-title">Info</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Commit:</strong> {{ view.build.commit }}</p>
                            <p><strong>Committer:</strong> {{ view.build.committer }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Finished:</strong> {{ view.build.finished }}</p>
                            <p><strong>Duration:</strong> {{ view.build.duration }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <strong>{{ view.build.branch }}</strong> - {{ view.build.message }}
        </div>


        <div class="snippet log" ng-if="view.tab === 'log'">
            <p>Log trace</p>
            <pre>
                <div ng-repeat="line in view.log" class="line">{{ line }}</div>
            </pre>
        </div>

    </div>
</div>