<div class="page repos" loading ng-class="{loading: view.loadingDelayed, 'loading-fade': view.loadingFaded}">

    <div class="filters">
        <div class="container">
            <div class="tags"></div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="container" height>
        <table class="table">
            <thead>
                <tr>
                    <th class="field-id">Repo/User</th>
                    <th class="field-created-by">Created By</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in view.repos">
                    <td class="field-id">
                        <a ng-href="#/repo/{{ repo.id | encode }}">{{ repo.id }}</a>
                    </td>
                    <td class="field-created-by">{{ repo.created_by }}</td>
                </tr>
                <tr ng-if="view.repos.length === 0">
                    <td colspan="2"><p class="alert alert-info">There are no repos</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .container -->

    <div class="paginate" ng-if="!view.loading && view.repos.length !== 0">
        <div class="container">
            <button ng-disabled="!view.paginator.prev" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="page-number">{{ view.page }} / {{ view.total }}</span>
            <button ng-disabled="!view.paginator.next" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <!-- # .paginate -->

</div>