@import "mixins";

body {
  color: #555;
}

.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  min-height: 56px;
  
  .logo {
    font-size: 30px;
    display: block;
    color: #555;
    text-decoration: none;
  }
  
  .welcome {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
  }

  .options {
    color: #555;
    display: inline-block;
    vertical-align: middle;
    .glyphicon {
      font-size: 25px;
      padding: 8px 10px;
      cursor: pointer;
    }
  }

}

.page {
  position: relative;

  &.home {
    .table {
      margin: 0;
      th {
        &:nth-child(1),
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 60%;
        }
      }
      td {
        p {
          margin: 0;
          &:not(.alert) {
            max-width: 500px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
          }
        }
      }
    }
  }

  .actions,
  .search-form {
    padding: 10px 0;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
  }

  .paginate {
    padding: 10px 0;
    overflow: auto;
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
  }
}

.loading {
  &:after {
    content: '';
    display: block;
    background-image: inline-image('loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
  }
}

.loading-abs {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}


.modal-options {
  .col-md-6 {
    text-align: center;
    &:first-child {
      border-right: 1px solid #ddd;
    }
  }
  .alert {
    margin: 30px 0 0 0;
    text-align: center;
  }
}

.general-error {
  $width: 400px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: -($width/2);
  .alert {
    @include border-radius(0 0 4px 4px);
    @include box-shadow(0 0 7px 0px #aaa);
    text-align: center;
    padding: 15px 30px;
    margin: 0;
    .close {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
}