@import "mixins";

html, body {
  height: 100%;
}
body {
  color: #555;
  background-color: #f3f3f3;
}

.main {
  height: 100%;
  .content {
    height: 90%;
    .page {
      height: 100%;
      & > .container {
        height: 90%;
        overflow: auto;
      }
    }
  }
}

.header {
  $header: 60px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  min-height: $header;
  background-color: #fff;
  
  .logo {
    font-size: 30px;
    display: block;
    color: #555;
    text-decoration: none;
  }
  
  .welcome {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
  }

  .options {
    color: #555;
    display: inline-block;
    vertical-align: middle;
    .glyphicon {
      font-size: 25px;
      padding: 8px 10px;
      cursor: pointer;
    }
  }

}

.page {
  position: relative;
  background-color: #fff;

  &.home {
    .table {
      margin: 0;
      th {
        &:nth-child(1),
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 60%;
        }
      }
      td {
        p {
          margin: 0;
          &:not(.alert) {
            max-width: 500px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            float: left;
          }
        }
      }
    }
  }

  .actions,
  .search-form {
    padding: 10px 0;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
  }

  .search-form {
    .label {
      font-size: 15px;
      display: inline-block;
      line-height: 22px;
      .close {
        color: #fff;
        font-weight: normal;
        text-shadow: none;
        float: none;
        @include opacity(1);
      }
    }
  }

  .paginate {
    padding: 10px 0;
    overflow: auto;
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
  }

  .description {
    margin: 20px 0;
    overflow: auto;
    .panel {
      float: right;
      margin: 0 0 5px 5px;
      p {
        strong {
          width: 90px;
          display: inline-block;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .snippet {
    border-left: 5px solid #f0ad4e;
    margin: 0 0 30px 0;
    p {
      padding: 0 0 0 5px;
      margin: 0 0 5px;
    }
    pre {
      @include border-radius(0 3px 3px 0);
      border-left: none;
    }
  }

}

.loading {
  &:after {
    content: '';
    display: block;
    background-image: inline-image('loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
  }
}

.loading-abs {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}


.modal-options {
  .col-md-6 {
    text-align: center;
    &:first-child {
      border-right: 1px solid #ddd;
    }
  }
  .alert {
    margin: 30px 0 0 0;
    text-align: center;
  }
}

.general-error {
  $width: 400px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: -($width/2);
  .alert {
    @include border-radius(0 0 4px 4px);
    @include box-shadow(0 0 7px 0px #aaa);
    text-align: center;
    padding: 15px 30px;
    margin: 0;
    .close {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
}

/* SCROLLBAR STYLE
================================================ */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #608dc1;
}