<div class="page build" loading ng-class="{loading: view.loadingDelayed, 'loading-fade': view.loadingFaded}">

    <div class="heading">
        <div class="container">
            <button class="btn btn-default pull-left go-back" ng-click="goBack()"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
            <h1>
                <span tooltip="Build #{{ view.build.id }}" tooltip-popup-delay="1000">Build #{{ view.build.id }}</span>
                <span class="label pull-right" ng-class="{'label-success': view.build.status === 'success', 'label-info': view.build.status === 'running', 'label-danger': view.build.status === 'failure', 'label-warning': view.build.status === 'pending'}">
                    <i class="glyphicon {{ view.build.status }}" ng-class="{'glyphicon-ok-circle': view.build.status === 'success', 'glyphicon-repeat': view.build.status === 'running', 'glyphicon-remove-circle': view.build.status === 'failure', 'glyphicon-time': view.build.status === 'pending'}"></i>
                    <span>{{ view.build.status }}</span>
                </span>
            </h1>
        </div>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="container" id="log-content" height>

        <ul class="nav nav-tabs">
            <li ng-class="{active: view.tab === 'details'}"><a ng-href="#/build/{{ view.build.id }}">Details</a></li>
            <li ng-class="{active: view.tab === 'log'}"><a ng-href="#/build/{{ view.build.id }}/log">Log</a></li>
        </ul>
        <!-- # .nav-tabs -->

        <div class="description">
            <div class="panel panel-warning">
                <div class="panel-heading"><h4 class="panel-title">Info</h4></div>
                <div class="panel-body">
                    <p><strong>Repo/User:</strong> <a ng-href="#/builds?repo={{ view.build.repo }}">{{ view.build.repo }}</a></p>
                    <p><strong>Date:</strong> {{ view.build.head_commit.timestamp | date:'short' }}</p>
                </div>
            </div>
            <strong>Message:</strong> {{ view.build.head_commit.message }}
        </div>
        <!-- # .description -->

        <div class="details" ng-if="view.tab !== 'log'">

            <section>
                <h4>Author</h4>
                <p>{{ view.build.head_commit.author.name }}</p>
            </section>

            <section>
                <h4>Committer</h4>
                <p>{{ view.build.head_commit.committer.name }}</p>
            </section>

            <section>
                <h4>Url</h4>
                <p><a href="{{ view.build.head_commit.url }}" target="_blank">{{ view.build.head_commit.url }}</a></p>
            </section>

            <div class="snippet list" ng-if="view.build.head_commit.added.length > 0">
                <p>Added files</p>
                <ul>
                    <li ng-repeat="file in view.build.head_commit.added" class="line">{{ file }}</li>
                </ul>
            </div>

            <div class="snippet list" ng-if="view.build.head_commit.modified.length > 0">
                <p>Modified files</p>
                <ul>
                    <li ng-repeat="file in view.build.head_commit.modified" class="line">{{ file }}</li>
                </ul>
            </div>

            <div class="snippet list" ng-if="view.build.head_commit.removed.length > 0">
                <p>Removed files</p>
                <ul>
                    <li ng-repeat="file in view.build.head_commit.removed" class="line">{{ file }}</li>
                </ul>
            </div>
        </div>
        <!-- # .details -->

        <div class="snippet log" ng-if="view.tab === 'log'">
            <p>Log trace</p>
            <pre>
                <div class="line" ng-repeat="line in view.log track by $index">{{ line | trim }}</div>
            </pre>
        </div>
        <!-- # .snippet.log-->

    </div>
    <!-- # .container -->
</div>