<div class="page builds" loading ng-class="{loading: view.loadingDelayed, 'loading-fade': view.loadingFaded}">

    <div class="filters">
        <div class="container">
            <div class="tags">
                <span ng-if="view.repo" class="label label-primary">{{ view.repo }} <a ng-href="#/builds" class="close">&times;</a></span>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="container" height>
        <table class="table">
            <thead>
                <tr>
                    <th class="field-status"></th>
                    <th class="field-id">Build</th>
                    <th class="field-repo">Repo/User</th>
                    <th class="field-message">Message</th>
                    <th class="field-commit">Commit</th>
                    <th class="field-committer">Committer</th>
                    <th class="field-date">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="build in view.builds">
                    <td class="field-status">
                        <span class="status glyphicon {{ build.status }}"
                              tooltip="{{ build.status }}"
                              ng-class="{'glyphicon-ok-circle': build.status === 'success', 'glyphicon-time': build.status === 'pending', 'glyphicon-remove-circle': build.status === 'failure', 'glyphicon-repeat': build.status === 'running'}">
                        </span>
                    </td>
                    <td class="field-id">
                        <a ng-href="#/build/{{ build.id }}" tooltip="{{ build.id }}" tooltip-popup-delay="1000">#{{ build.id }}</a>
                    </td>
                    <td class="field-repo">
                        <a ng-href="#/builds?repo={{ build.repo }}">{{ build.repo }}</a>
                    </td>
                    <td class="field-message">
                        <p tooltip="{{ build.head_commit.message }}" tooltip-popup-delay="1000">{{ build.head_commit.message }}</p>
                    </td>
                    <td class="field-commit">
                        <a href="{{ build.head_commit.url }}" target="_blank" tooltip="{{ build.head_commit.id }}" tooltip-popup-delay="1000">{{ build.head_commit.id }}</a>
                    </td>
                    <td class="field-committer">{{ build.head_commit.committer.name }}</td>
                    <td class="field-date">{{ build.head_commit.timestamp | date:'short' }}</td>
                </tr>
                <tr ng-if="view.builds.length === 0">
                    <td colspan="7"><p class="alert alert-info">There are no builds</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .container -->

    <div class="paginate" ng-if="!view.loading && view.builds.length !== 0">
        <div class="container">
            <button ng-disabled="!view.paginator.prev" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="page-number">{{ view.page }} / {{ view.total }}</span>
            <button ng-disabled="!view.paginator.next" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <!-- # .paginate -->

</div>