<div ng-class="$parent.view.classes" loading="view.loading">

    <div class="heading">
        <div class="container">
            <a ng-href="#/repos" class="btn btn-default pull-left go-back"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            <h1>{{ view.repo.id }} <span class="created-by">({{ view.repo.created_by }})</span></h1>
        </div>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="container" height>

        <div class="nav nav-tabs">
            <li ng-class="{active: view.tab === 'apps'}" class=""><a href ng-click="switchTab('apps')">Apps</a></li>
            <li ng-class="{active: view.tab === 'builds'}" class=""><a href ng-click="switchTab('builds')">Builds</a></li>
        </div>

        <section ng-if="view.tab === 'apps'">
            <table class="table table-hover apps">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in view.apps">
                        <td><a ng-href="#/app/{{ app.id }}">{{ app.name }}</a></td>
                        <td><p tooltip="{{ app.description }}" tooltip-popup-delay="1000">{{ app.description }}</p></td>
                    </tr>
                    <tr class="empty" ng-if="view.apps.length === 0">
                        <td colspan="3"><p class="alert alert-info">There are no apps found in this repo</p></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section ng-if="view.tab === 'builds'">
            <table class="table table-hover builds">
                <thead>
                    <tr>
                        <th class="field-status"></th>
                        <th class="field-id">Build</th>
                        <th class="field-message">Message</th>
                        <th class="field-commit">Commit</th>
                        <th class="field-committer">Committer</th>
                        <th class="field-date">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="build in view.builds">
                        <td class="field-status">
                            <span class="status glyphicon {{ build.status }}"
                                  tooltip="{{ build.status }}"
                                  ng-class="{'glyphicon-ok-circle': build.status === 'success', 'glyphicon-time': build.status === 'pending', 'glyphicon-remove-circle': build.status === 'failure', 'glyphicon-repeat': build.status === 'running'}">
                            </span>
                        </td>
                        <td class="field-id">
                            <a ng-href="#/build/{{ build.id }}" tooltip="{{ build.id }}" tooltip-popup-delay="1000">#{{ build.id }}</a>
                        </td>
                        <td class="field-message">
                            <p tooltip="{{ build.head_commit.message }}" tooltip-popup-delay="1000">{{ build.head_commit.message }}</p>
                        </td>
                        <td class="field-commit">
                            <a href="{{ build.head_commit.url }}" target="_blank" tooltip="{{ build.head_commit.id }}" tooltip-popup-delay="1000">{{ build.head_commit.id }}</a>
                        </td>
                        <td class="field-committer">{{ build.head_commit.committer.name }}</td>
                        <td class="field-date">{{ build.head_commit.timestamp | date:'short' }}</td>
                    </tr>
                    <tr class="empty" ng-if="view.builds.length === 0">
                        <td colspan="7"><p class="alert alert-info">There are no builds found in this repo</p></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>
    <!-- # .container -->

    <div class="paginate" ng-if="!view.loading && view.tab === 'apps' && view.apps.length > 0">
        <div class="container">
            <button ng-disabled="!view.paginator.apps.prev || view.paginator.apps.loading" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="page-number">{{ view.paginator.apps.page }} / {{ view.paginator.apps.total }}</span>
            <button ng-disabled="!view.paginator.apps.next || view.paginator.apps.loading" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <!-- # .paginate -->

    <div class="paginate" ng-if="!view.loading && view.tab === 'builds' && view.builds.length > 0">
        <div class="container">
            <button ng-disabled="!view.paginator.builds.prev || view.paginator.builds.loading" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="page-number">{{ view.paginator.builds.page }} / {{ view.paginator.builds.total }}</span>
            <button ng-disabled="!view.paginator.builds.next || view.paginator.builds.loading" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <!-- # .paginate -->
</div>