<div ng-class="$parent.view.classes" loading="view.loading">

    <div class="heading">
        <div class="container">
            <a ng-href="#/repos" class="btn btn-default pull-left go-back"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            <h1>Instructions for the {{ view.repo.id }} <strong class="mock-label">[mock]</strong></h1>
        </div>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="container">

        <div class="snippet">
            <p>Use this secret to setup CI</p>
            <pre>{{ view.repo.secret }}</pre>
        </div>

    </div>

</div>