<div class="page settings">

    <div class="heading">
        <div class="container">
            <a ng-href="#/" class="btn btn-default pull-left go-back"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            <h1>Settings</h1>
        </div>
    </div>
    <!-- # .heading -->

    <div class="container">

        <div class="row actions">
            <div class="col-md-4">
                <div class="snippet token">
                    <p>You can (re)generate your token</p>
                    <button class="btn btn-primary" ng-click="generateToken()" ng-disabled="view.generating">(Re)generate Token</button>
                </div>
                <p ng-if="view.trace.generate !== ''" class="alert alert-success">{{ view.trace.generate }}</p>
            </div>
            <div class="col-md-4">
                <div class="snippet token">
                    <p>You can revoke your token</p>
                    <button class="btn btn-danger" ng-click="revokeToken()" ng-disabled="view.revoking">Revoke Token</button>
                </div>
                <p ng-if="view.trace.revoke !== ''" class="alert alert-success">{{ view.trace.revoke }}</p>
            </div>
            <div class="col-md-4">
                <div class="snippet token">
                    <p>Check your token</p>
                    <button class="btn btn-default" ng-click="getToken()" ng-disabled="view.getting">Check Token</button>
                </div>
                <p ng-if="view.trace.token !== ''" class="alert alert-success">{{ view.trace.token }}</p>
            </div>
        </div>


    </div>
    <!-- # .container -->
</div>