<div class="page settings">

    <div class="heading">
        <div class="container">
            <button class="btn btn-default pull-left go-back" ng-click="goBack()"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
            <h1>Settings</h1>
        </div>
    </div>
    <!-- # .heading -->

    <div class="container">

        <section class="actions">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <p>You can (re)generate your token</p>
                    <button class="btn btn-primary" ng-click="generateToken()" ng-disabled="view.generating">(Re)generate Token</button>
                </div>

                <div class="col-md-4">
                    <p>You can revoke your token</p>
                    <button class="btn btn-danger" ng-click="revokeToken()" ng-disabled="view.revoking">Revoke Token</button>
                </div>
            </div>

            <p ng-if="view.trace !== ''" class="alert alert-success" ng-bind-html="view.trace"></p>
        </section>

    </div>
    <!-- # .container -->
</div>