<div class="header">
    <div ng-if="!view.loading" class="container">

        <div class="row">
            <div class="col-md-2">
                <a ng-href="#/" class="logo">Rabix</a>
            </div>

            <div class="col-md-10">

                <ul class="nav nav-tabs pull-left">
                    <li ng-class="{active: view.active === 'apps'}"><a ng-href="#/apps">Apps</a></li>
                    <li ng-class="{active: view.active === 'builds'}"><a ng-href="#/builds">Builds</a></li>
                    <li ng-class="{active: view.active === 'repos'}"><a ng-href="#/repos">Repos</a></li>
                    <li ng-class="{active: view.active === 'settings'}"><a ng-href="#/settings">Settings</a></li>
                </ul>

                <a ng-if="(view.user | isEmpty)" href="/login" class="btn btn-primary pull-right">Log In With GitHub</a>

                <div ng-if="!(view.user | isEmpty)" class="actions pull-right">
                    <span class="welcome">Welcome <strong>{{ view.user.name }}</strong></span>
                    <a href ng-click="logOut()" tooltip="Log out" tooltip-placement="bottom" tooltip-append-to-body="true" class="glyphicon glyphicon-log-out log-out-btn"></a>
                </div>

            </div>

        </div>

    </div>
</div>